@media (max-width: 765px) {
  .menu {
    display: block;
    cursor: pointer;
  }

  .specific-links {
    display: none;
    /* width: 327px;
    height: 56px; */
    width: 327px;
    height: 184px;
    left: 24px;
    top: 92px;
    gap: 8px;
  }

  .menu-popup {
    position: absolute;
    z-index: 9999;
    top: 0;
    left: 0;
    bottom: 57px;
    background-color: #3c3a39;
    mix-blend-mode: normal;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* Base/ Soft */
    box-shadow: 0px 48px 48px rgba(37, 47, 137, 0.08);
  }

  .menu-popup a {
    color: #fff5e1;
    height: 24px;
    width: 227px;
    left: 0px;
    top: 8px;
    font-family: Inter;
    font-size: 32px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: left;
  }

  .menu-popup ul {
    display: flex;
    flex-direction: column;
  }

  body:has(.menu-popup) {
    overflow: hidden;
  }

  .close-popup {
    display: none;
  }

  .menu-popup .close-popup {
    display: flex;
    position: absolute;
    
    
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;

    height: 12px;
    width: 12px;
    right: 6px;
    top: 6px;
    

  }
}
